.gradient-background {
  background: linear-gradient(300deg, #19293d, #000914);
  animation: gradient-animation 18s ease infinite;
  color: whitesmoke;
}

.visualizzazione {
  position: absolute;
  transform: rotate(30deg);
  height: 500px;
  width: 240px;
  margin-left: 450px;
  margin-top: 200px;
}

#title {
  padding-top: 90px;
  padding-bottom: 90px;
}

#footer {
  margin-top: 60px;
}

#features {
  padding-top: 0px;
}
.d-md-flex > div {
  flex: 1 1 50%; /* Makes both sections equal width */
}

.section {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}


.screens {
  width: auto; /* Adjust width as needed */
  height: 500px; /* Set a fixed height */
  margin-bottom: -150px;
  overflow: hidden;
}

#testimonial {
  padding-top: 90px;
  padding-bottom: 90px;
}

h1 {
  padding-bottom: 50px;
  padding-top: 50px;
}

.white {
  background-color: whitesmoke;
  color: #000914;
}

.custom-btn {
  background-color: darkmagenta !important; /* Custom Background */
  border-color: violet !important; /* Border color */
  color: white !important; /* Text color */
}

.custom-btn:hover {
  background-color: violet !important; /* Darker on hover */
  border-color: darkmagenta !important;
  color: white !important;
}


.text-bg-dark, .text-bg-light {
  min-height: 600px; /* Adjust based on your image height */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-control {
  max-width: 200px; /* Adjust this value as needed */
  width: 100%;
  height: 50px;
}

.search-input {
  width: 100% !important; /* Makes sure the input doesn't overflow */
  max-width: 400px; /* Adjust as needed */
}

.search-btn {
  white-space: nowrap; /* Prevents the text from wrapping */
}


button {
  margin-bottom: 30px;
}
.color-text {
  color: whitesmoke;
}
.featurette {
  display: flex;
}

.teamalgo {
  text-align: center;
  justify-content: center;
}

.adjusttext {
  font-size: 0.7rem;
}

.featurette-heading{
  text-align: center;
  justify-content: center;
  align-items: center;
}
h1 {
  padding-bottom: 50px;
  padding-top: 50px;
}

h3 {
  padding-bottom: 50px;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}


.colorwhite {
  color: whitesmoke;
}

@media (max-width: 768px) {
  div.first, div.third {
    background: linear-gradient(300deg, #19293d, #000914) !important;
    color: white !important;
  }

  div.second, div.fourth {
    background: whitesmoke !important;
    color: black !important;
  }
}

